body {
	padding-top: 100px; 
	padding-bottom: 70px; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-family:Verdana;
	font-style:normal;
	text-decoration:none;
}


@media (min-width: 1400px) {
	  .container {
		max-width: 1370px;
	}
}
@media (min-width: 1600px) {
	  .container {
		max-width: 1570px;
	}
}
@media (min-width: 1800px) {
	  .container {
		max-width: 1770px;
	}
}

#daissermap {
	height: 100%; 
	width: 100%;
}
